# ==============================================================================
# BoardHub Capstone Project - Environment Variables
# ==============================================================================

# --- BACKEND SETTINGS ---
BACKEND_PORT=4000
NODE_ENV=development

# Database Configuration (Used when running API locally outside Docker)
DATABASE_URL="postgresql://capstone:capstone@localhost:5432/capstone_db?schema=public"

# Cryptographic Tokens (Required)
JWT_ACCESS_SECRET="super_secret_jwt_access_token_key_1234567890"
JWT_REFRESH_SECRET="super_secret_jwt_refresh_token_key_0987654321"

# Permitted Client Origin
CLIENT_ORIGIN="http://localhost:3000"


# --- FRONTEND SETTINGS ---
# Base API endpoint for the react client
VITE_API_URL="http://localhost:4000/api/v1"
