# Server Configuration
PORT=4000
NODE_ENV=development

# Database Connection (PostgreSQL)
DATABASE_URL="postgresql://capstone:capstone@localhost:5432/capstone_db?schema=public"

# JSON Web Token (JWT) Secrets (Change in production!)
JWT_ACCESS_SECRET="super_secret_jwt_access_token_key_1234567890"
JWT_REFRESH_SECRET="super_secret_jwt_refresh_token_key_0987654321"

# Allowed CORS Origin
CLIENT_ORIGIN="http://localhost:3000"
